
.border-divider {
	border-right: 1px solid rgba(182, 182, 182, 0.41);
}
.about-me .img-container {
	text-align: center;
}
.about-me .img-container img {
	border-radius: 50%;
}

.about-me h2 {
	text-align: left;
	margin-bottom: 10px;
}
.personal-item > span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.personal-item {
	padding: 10px 0;
	border-bottom: 1px solid rgba(182, 182, 182, 0.41);
}

.personal-item a {
	text-decoration: none;
	color: #8bc34a;
}