.fade-in {
	animation: fadeIn 1.5s forwards;
}

@keyframes increaseProgressBar {
	0% {
		width: 0%;
		opacity: 0.8;
	}
	50%{
		width: 50%
		opacity: 1;
	}
	100%{
		width: 100%;
	}
}
@keyframes upTextHobbie {
	0% {
		opacity: 0;
		top: 300px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}