.button-container {
    position: relative;
    text-align: left;
    margin: 10px 0;
    height: 40px;
    max-height: 40px;
}
.btn {
    position: absolute;
    top: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn-default-solid {
    color: #FFF;
    background-color: #8bc34a;
    border: none;
    transition: background-color .2s linear;
}
.btn-default-solid:hover {
    color: #8bc34a;
    background-color: #FFF;
    border: solid #8bc34a 1px;
    text-decoration: none;
}
.btn-default {
    background-color: #FFF;
    color: #8bc34a;
    border: solid #8bc34a 1px;
    transition: background-color .2s linear;
}

.btn-default:hover {
    background-color: #8bc34a;
    color: #FFF;
    text-decoration: none;
}
