
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
}
.modal .section-titles {
	margin: 15px 0;
}
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 600px;
	text-align: center;
}
.close {
	color: #AAA;
	float: right;
	font-size: 28px;
	margin-top: -5px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #8bc34a;
	text-decoration: none;
	cursor: pointer;
}
.modal video {
	width: auto;
	height: 300px;
	max-height: 300px;
}